@import '@/assets/scss/const.scss';

#singer_detail {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background: $color-background;
}

.slide-enter-active, .slide-leave-active {
  transition: all .5s; // 过渡
}
.slide-enter, .slide-leave-to {
  transform: translate3d(100%, 0, 0);
}
