@import '@/assets/scss/const.scss';
@import '@/assets/scss/mymixin.scss';

#music_list {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background: $color-background;
  article[class="back"] {
    position: absolute;
    top: 0;
    left: 6px;
    z-index: 50;
    i.icon-back {
      display: block;
      padding: 10px;
      font-size: $font-size-large-x;
      color: $color-theme;
    }
  }
  h1[class="title"] {
    @include no-wrap();
    position: absolute;
    top: 0;
    left: 10%;
    z-index: 40;
    width: 80%;
    text-align: center;
    line-height: 40px;
    font-size: $font-size-large;
    color: $color-text;
  }
  section[class="bg-image"] {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 70%;
    transform-origin: top;
    background-size: cover;
    article.play-wrapper {
      position: absolute;
      bottom: 20px;
      width: 100%;
      z-index: 50;
      .play {
        box-sizing: border-box;
        width: 135px;
        padding: 7px 0;
        margin: 0 auto;
        text-align: center;
        color: $color-theme;
        border: 1px solid $color-theme;
        border-radius: 100px;
        font-size: 0;
        @mixin commonStyle {
          display: inline-block;
          vertical-align: middle;
        }
        .icon-play {
          @include commonStyle;
          margin-right: 6px;
          font-size: $font-size-medium-x;
        }
        .text {
          @include commonStyle;
          font-size: $font-size-small;
        }
      }
    }
    div.filter {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(7, 17, 27, 0.4);
    }
  }
  section[class="bg-layer"] {
    position: relative;
    height: 100%;
    background: $color-background;
  }
  .list {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    background: $color-background;
    .song-wrapper {
      padding: 20px 30px;
    }
    .loading-container {
      position: absolute;
      top: 50%;
      width: 100%;
      transform: translateY(-50%);
    }
  }
}
